

<div class="super_container" style="margin-top:60px;">



  <!--Thanh tìm kiếm-->
  <div class="container-fluid" style="background-color: black;">
    <div class="row" style="padding:5px;">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6 col-xl-6 col-sm-12">
            <input type="text"  class="form-control" placeholder="Tìm kiếm nhà trọ">
          </div>
          <div class="col-md-6 col-xl-6 col-sm-12">
            <div class="btn-group" style="margin-right: 10px;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div>
            <div class="btn-group" style="margin-right: 10px;">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Thành phố<span class="caret"></span></button>
                <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Action</a>

                  <a class="dropdown-item" href="#">Action</a>

                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group" style="margin-right: 10px;">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tỉnh thành<span class="caret"></span></button>
                <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Action</a>

                  <a class="dropdown-item" href="#">Action</a>

                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group" style="margin-right: 10px;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tỉnh thành<span class="caret"></span></button>
              <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#">Action</a>

                <a class="dropdown-item" href="#">Action</a>

                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <div class="btn-group" style="margin-right: 10px;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tỉnh thành<span class="caret"></span></button>
              <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#">Action</a>

                <a class="dropdown-item" href="#">Action</a>

                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="height: 50px;background-color: darkgray;">
    <div style="padding-top:15px;"><span style="margin-left: 130px;">Travelix <div class="fa  fa-chevron-right" style="margin-right: 15px;"></div> Trang tìm kiếm <div class="fa  fa-chevron-right"style="margin-right: 15px;"></div></span></div>
  </div>



  <!--khung chinhs-->
  <div class="container-fluid" style="height: 2000px; padding-top: 20px;">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <a>Thuê nhà đất 2020 giá rẻ nhất tại Việt Nam, giá thuê mới nhất</a>
        <div style="height: 60px;background-color: darkgray;padding:5px ;" >
          <span class="offer_reviews_title" style="float: left;margin-top: 25px;">Kết quả từ 1-15 trong 123.123</span>
          <div style="float: right;">
            <div class="btn-group" role="group" aria-label="Basic example"  style="text-align: center;">
              <button type="button" class="btn btn-secondary"style="margin-right: 0px;">Mắc định</button>
              <button type="button" class="btn btn-secondary">Danh sách</button>
              <button type="button" class="btn btn-secondary">Bản đồ</button>
            </div>
          </div>
        </div>
        <!--hiển thị thong tin danh sách-->
        <div  style="margin-top: 30px;" >
          <div class="container" style="border-bottom:2px solid gray">
            <div class="row" style="padding:5px">
              <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
              <div class="col-lg-8">
                <div class="col-md-8">
                  <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>

                  <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                  <hr>

                  <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i></p>
                    <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i>
                  </p>
                  <div style="margin-top:50px;">
                  <p style="float: left;font-size: 10px;">Ngày đăng: Hôm nay</p>
                  <p style="float: right; color: green;" class="fa fa-phone"><b style="color: black;">09881*****</b></p>
                  </div>
                </div>
                <div class="offer_reviews">
                  <div class="offers_price">$100-120</div>
                  <br>
                  <div  style="float: right;">
                  <div class="offer_reviews_content">
                    <div class="offer_reviews_title">very good</div>
                    <div class="offer_reviews_subtitle">100 reviews</div>
                  </div>
                  <div class="offer_reviews_rating text-center">8.1</div>
                </div>
                  <br>
                  <div class="button book_button" style="margin-top: 90px;"><a href="#">book<span></span><span></span><span></span></a></div>
                </div>
              </div>
           </div>
          </div>
        </div>
        <div  style="margin-top: 30px;" >
          <div class="container" style="border-bottom:2px solid gray">
            <div class="row" style="padding:5px">
              <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
              <div class="col-lg-8">
                <div class="col-md-8">
                  <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>

                  <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                  <hr>

                  <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i></p>
                    <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i>
                  </p>
                  <div style="margin-top:50px;">
                  <p style="float: left;font-size: 10px;">Ngày đăng: Hôm nay</p>
                  <p style="float: right; color: green;" class="fa fa-phone"><b style="color: black;">09881*****</b></p>
                  </div>
                </div>
                <div class="offer_reviews">
                  <div class="offers_price">$100-120</div>
                  <br>
                  <div  style="float: right;">
                  <div class="offer_reviews_content">
                    <div class="offer_reviews_title">very good</div>
                    <div class="offer_reviews_subtitle">100 reviews</div>
                  </div>
                  <div class="offer_reviews_rating text-center">8.1</div>
                </div>
                  <br>
                  <div class="button book_button" style="margin-top: 90px;"><a href="#">book<span></span><span></span><span></span></a></div>
                </div>
              </div>
           </div>
          </div>
        </div>
        <div  style="margin-top: 30px;" >
          <div class="container" style="border-bottom:2px solid gray">
            <div class="row" style="padding:5px">
              <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
              <div class="col-lg-8">
                <div class="col-md-8">
                  <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>

                  <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                  <hr>

                  <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i></p>
                    <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i>
                  </p>
                  <div style="margin-top:50px;">
                  <p style="float: left;font-size: 10px;">Ngày đăng: Hôm nay</p>
                  <p style="float: right; color: green;" class="fa fa-phone"><b style="color: black;">09881*****</b></p>
                  </div>
                </div>
                <div class="offer_reviews">
                  <div class="offers_price">$100-120</div>
                  <br>
                  <div  style="float: right;">
                  <div class="offer_reviews_content">
                    <div class="offer_reviews_title">very good</div>
                    <div class="offer_reviews_subtitle">100 reviews</div>
                  </div>
                  <div class="offer_reviews_rating text-center">8.1</div>
                </div>
                  <br>
                  <div class="button book_button" style="margin-top: 90px;"><a href="#">book<span></span><span></span><span></span></a></div>
                </div>
              </div>
           </div>
          </div>
        </div>
        <div  style="margin-top: 30px;" >
          <div class="container" style="border-bottom:2px solid gray">
            <div class="row" style="padding:5px">
              <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
              <div class="col-lg-8">
                <div class="col-md-8">
                  <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>

                  <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                  <hr>

                  <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i></p>
                    <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i>
                  </p>
                  <div style="margin-top:50px;">
                  <p style="float: left;font-size: 10px;">Ngày đăng: Hôm nay</p>
                  <p style="float: right; color: green;" class="fa fa-phone"><b style="color: black;">09881*****</b></p>
                  </div>
                </div>
                <div class="offer_reviews">
                  <div class="offers_price">$100-120</div>
                  <br>
                  <div  style="float: right;">
                  <div class="offer_reviews_content">
                    <div class="offer_reviews_title">very good</div>
                    <div class="offer_reviews_subtitle">100 reviews</div>
                  </div>
                  <div class="offer_reviews_rating text-center">8.1</div>
                </div>
                  <br>
                  <div class="button book_button" style="margin-top: 90px;"><a href="#">book<span></span><span></span><span></span></a></div>
                </div>
              </div>
           </div>
          </div>
        </div>
        <div  style="margin-top: 30px;" >
          <div class="container" style="border-bottom:2px solid gray">
            <div class="row" style="padding:5px">
              <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
              <div class="col-lg-8">
                <div class="col-md-8">
                  <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>

                  <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                  <hr>

                  <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i></p>
                    <p><i class="fa fa-cubes" style="margin-right: 60px;">Công ty cổ phần đầu tư Lâm Đầu</i>
                    <i class="fa fa-drupal">33,9 m^2</i>
                  </p>
                  <div style="margin-top:50px;">
                  <p style="float: left;font-size: 10px;">Ngày đăng: Hôm nay</p>
                  <p style="float: right; color: green;" class="fa fa-phone"><b style="color: black;">09881*****</b></p>
                  </div>
                </div>
                <div class="offer_reviews">
                  <div class="offers_price">$100-120</div>
                  <br>
                  <div  style="float: right;">
                  <div class="offer_reviews_content">
                    <div class="offer_reviews_title">very good</div>
                    <div class="offer_reviews_subtitle">100 reviews</div>
                  </div>
                  <div class="offer_reviews_rating text-center">8.1</div>
                </div>
                  <br>
                  <div class="button book_button" style="margin-top: 90px;"><a href="#">book<span></span><span></span><span></span></a></div>
                </div>
              </div>
           </div>
          </div>
        </div>

    </div>
    <div class="col-md-3">
      <div style="background-image: url(../../assets/images/image_4.jpg) ;height: 400px;width: 100%;"></div>
      <div style="border: 1px solid gray;margin-top:20px ;border-radius: 5px;" >
        <b style="padding:10px">Loại bất động sản </b>
        <ul style="padding:10px">
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">nhà(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Căn hộ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Phòng trọ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Văn phòng(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Nhà xưởng(54.392)</span></div></li>

        </ul>


      </div>
      <div style="border: 1px solid gray;margin-top:20px ;border-radius: 5px;" >
        <ul style="padding:10px">
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">nhà(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Căn hộ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Phòng trọ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Văn phòng(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Nhà xưởng(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">nhà(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Căn hộ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Phòng trọ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Văn phòng(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 10px;font-size: 20px;"><div class="fa fa-chevron-circle-right"><span class="offer_reviews_title" style="margin-left: 60px;font-size: 20xp;">Nhà xưởng(54.392)</span></div></li>
        </ul>
      </div>
    </div>
  </div>
</div>
